{% comment %}
Parameters:
  * tags-to-include
    * comma-concatenated list
    * default: calling doc's `tags`
  * tags-to-exclude
    * comma-concatenated list
    * docs matching any of the exclude tags override and docs with the included tags
    * default: "draft,stub,status,nsfw", except that if a page that's including this has one of these tags, it won't be part of the default exclusion
  * exclude-sitemap-false
    * will exclude docs with "sitemap: false" in Front Matter
    * default: true
  * doc-types
    * comma-concatenated list
    * enum list of `page` and `post`
    * default: "page,post"
  * show-description
    * default: true
  * show-author
    * default: false
  * show-date
    * default: true
  * show-content
    * default: false
  * heading-level
    * default: 3
  * markdown-heading
    * default: false
  * linkify-heading
    * default: true
  * show-permalink
    * default: true
  * show-edit-link
    * default: true
  * sort-by
    * PARTIALLY IMPLEMENTED: posts and pages separately sorted if value is "date"
    * default: date
  * sort-direction
    * default: ASC
    * enum list of `ASC` and `DESC`; `DESC` adds " | reverse"; everything else does nothing
  * date-filter-direction
    * default: "none"
    * enum of: `none`, `before`, `after`
    * values are inclusive, so "after 2020-05-20" would include 2020-05-20
  * date-filter-days-ago
    * default: false
    * otherwise, natural number
    * computed into YYYY-MM-DD stored in date-filter-date
  * date-created-modified
    * comma-concatenated list
    * enum list of `created` and `modified`
    * default: "created,modified"

{% endcomment %}

{% if include.tags-to-include %}
  {% assign tags-to-include = include.tags-to-include | split: "," %}
{% elsif page.tags %}
  {% assign tags-to-include = page.tags %}
{% else %}
  {% assign tags-to-include = "" | split: "," %}
{% endif %}

{% if include.tags-to-exclude %}
  {% assign tags-to-exclude = include.tags-to-exclude | split: "," %}
{% else %}
  {% assign default-tags-to-exclude = "draft,stub,status,nsfw" | split: "," %}
  {% assign tags-to-exclude = "" | split: "," %}
  {% for tag in default-tags-to-exclude %}
    {% if page.tags %}
      {% unless page.tags contains tag %}
        {% assign tag-as-array = tag | split: "," %}
        {% assign tags-to-exclude = tags-to-exclude | concat: tag-as-array %}
      {% endunless %}
    {% endif %}
  {% endfor %}
  {% comment %}{% assign tags-to-exclude = "draft,stub,status,nsfw" | split: "," %}{% endcomment %}
{% endif %}


{% if include.exclude-sitemap-false == true or include.exclude-sitemap-false == false %}
  {% assign exclude-sitemap-false = include.exclude-sitemap-false %}
{% else %}
  {% assign exclude-sitemap-false = true %}
{% endif %}

{% if include.doc-types %}
  {% assign doc-types = include.doc-types | split: "," %}
{% else %}
  {% assign doc-types = "page,post" | split: "," %}
{% endif %}

{% if include.show-description == true or include.show-description == false %}
  {% assign show-description = include.show-description %}
{% else %}
  {% assign show-description = true %}
{% endif %}

{% if include.show-author == true or include.show-author == false %}
  {% assign show-author = include.show-author %}
{% else %}
  {% assign show-author = false %}
{% endif %}

{% if include.show-date == true or include.show-date == false %}
  {% assign show-date = include.show-date %}
{% else %}
  {% assign show-date = true %}
{% endif %}

{% if include.show-content == true or include.show-content == false %}
  {% assign show-content = include.show-content %}
{% else %}
  {% assign show-content = false %}
{% endif %}

{% if include.heading-level %}
  {% assign heading-level = include.heading-level %}
{% else %}
  {% assign heading-level = 3 %}
{% endif %}

{% if include.markdown-heading == true or include.markdown-heading == false %}
  {% assign markdown-heading = include.markdown-heading %}
{% else %}
  {% assign markdown-heading = false %}
{% endif %}

{% if include.linkify-heading == true or include.linkify-heading == false %}
  {% assign linkify-heading = include.linkify-heading %}
{% else %}
  {% assign linkify-heading = true %}
{% endif %}

{% if include.show-permalink == true or include.show-permalink == false %}
  {% assign show-permalink = include.show-permalink %}
{% else %}
  {% assign show-permalink = true %}
{% endif %}

{% if include.show-edit-link == true or include.show-edit-link == false %}
  {% assign show-edit-link = include.show-edit-link %}
{% else %}
  {% assign show-edit-link = true %}
{% endif %}

{% if include.sort-by %}
  {% assign sort-by = include.sort-by %}
{% else %}
  {% assign sort-by = "date" %}
{% endif %}

{% if include.sort-direction %}
  {% assign sort-direction = include.sort-direction %}
{% else %}
  {% assign sort-direction = "ASC" %}
{% endif %}

{% if include.date-filter-direction %}
  {% assign date-filter-direction = include.date-filter-direction %}
{% else %}
  {% assign date-filter-direction = "none" %}
{% endif %}

{% if include.date-filter-days-ago %}
  {% assign date-filter-seconds-ago = include.date-filter-days-ago | times: 86400 %}
  {% assign date-filter-date = "now" | date: "%s" | minus: date-filter-seconds-ago | date: "%Y-%m-%d" %}
{% else %}
  {% assign date-filter-date = false %}
{% endif %}

{% if include.date-created-modified %}
  {% assign created-modified = include.date-created-modified | split: "," %}
{% else %}
  {% assign created-modified = "created,modified" | split: "," %}
{% endif %}


{% assign docs = "" | split: "," %}

{% if doc-types contains "page" %}
  {% if sort-direction == "DESC" %}
    {% assign sorted_pages = site.pages | sort: sort-by | reverse %}
  {% else %}
    {% assign sorted_pages = site.pages | sort: sort-by %}
  {% endif %}
  {% assign docs = docs | concat: sorted_pages %}
{% endif %}

{% if doc-types contains "post" %}
  {% if sort-direction == "DESC" %}
    {% assign sorted_posts = site.posts | sort: sort-by | reverse %}
  {% else %}
    {% assign sorted_posts = site.posts | sort: sort-by %}
  {% endif %}
  {% assign docs = docs | concat: sorted_posts %}
{% endif %}

{% if sort-by != "date" %}
  {% comment %}WE HAVE TO DO THIS AS A HACK BECAUSE THE DATA TYPE OF `date` IS DIFFERENT BETWEEN POSTS AND PAGES, SO IT BREAKS THE SORT FILTER{% endcomment %}
  {% if sort-direction == "DESC" %}
    {% assign docs = docs | sort: sort-by | reverse %}
  {% else %}
    {% assign docs = docs | sort: sort-by %}
  {% endif %}
{% endif %}

{% assign number-of-docs = 0 %}

{% for doc in docs %}
  {% assign include-doc = false %}
  {% if doc.url != page.url %}
    {% if tags-to-include.size == 0 %}
      {% assign include-doc = true %}
    {% else %}
      {% for tag in doc.tags %}
        {% if tags-to-include contains tag %}
          {% assign include-doc = true %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if include-doc == true %}
      {% for tag in doc.tags %}
        {% if tags-to-exclude contains tag %}
          {% assign include-doc = false %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if exclude-sitemap-false == true and doc.sitemap == false %}
        {% assign include-doc = false %}
      {% endif %}
      {% if date-filter-direction != "none" and date-filter-date %}
        {% assign doc-date-string = doc.date | date: "%Y-%m-%d" %}
        {% assign doc-last-modified-at-string = doc.last_modified_at | date: "%Y-%m-%d" %}
        {% if created-modified contains "created" and created-modified contains "modified" %}
          {% if date-filter-direction == "before" %}
            {% if doc-date-string > date-filter-date and doc-last-modified-at-string > date-filter-date %}
              {% assign include-doc = false %}
            {% endif %}
          {% elsif date-filter-direction == "after" %}
            {% if doc-date-string < date-filter-date and doc-last-modified-at-string < date-filter-date %}
              {% assign include-doc = false %}
            {% endif %}
          {% endif %}
        {% elsif created-modified contains "created" %}
          {% if date-filter-direction == "before" %}
            {% if doc-date-string > date-filter-date %}
              {% assign include-doc = false %}
            {% endif %}
          {% elsif date-filter-direction == "after" %}
            {% if doc-date-string < date-filter-date %}
              {% assign include-doc = false %}
            {% endif %}
          {% endif %}
        {% elsif created-modified contains "modified" %}
          {% if date-filter-direction == "before" %}
            {% if doc-last-modified-at-string > date-filter-date %}
              {% assign include-doc = false %}
            {% endif %}
          {% elsif date-filter-direction == "after" %}
            {% if doc-last-modified-at-string < date-filter-date %}
              {% assign include-doc = false %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
  {% if include-doc %}
    {% assign number-of-docs = number-of-docs | plus:1 %}
    {% if markdown-heading %}
{% for i in (1..heading-level) %}#{% endfor %} {% if linkify-heading %}[{{ doc.title }}]({{ doc.url }}){% else %}{{ doc.title }}{% endif %}
    {% else %}
<h{{ heading-level }}>{% if linkify-heading %}<a href="{{ doc.url }}">{{ doc.title }}</a>{% else %}{{ doc.title }}{% endif %}</h{{ heading-level }}>
    {% endif %}
    {% assign permalink = "" %}
    {% if show-permalink or doc.date and show-date %}
      {% if doc.date and show-date %}
        {% assign date = doc.date | date: "%Y-%m-%d" %}
        {% if doc.tags contains "stub" %}
          {% assign permalink = "Stubbed on " %}
        {% endif %}
        {% assign permalink = permalink | append: "[" | append: date | append: "](" | append: doc.url | append: ")" %}
        {% if doc.date != doc.last_modified_at and doc.date and doc.last_modified_at %}
          {% assign last_modified_at = doc.last_modified_at | date: "%Y-%m-%d" %}
          {% assign permalink = permalink | append: " (last updated on " | append: last_modified_at | append: ")" %}
        {% endif %}
      {% else %}
        {% assign permalink = "[Permalink](" | append: doc.url | append: ")" %}
      {% endif %}
    {% endif %}
    {% assign by-line = "" %}
    {% if show-author %}
      {% assign by-line = "Written by " | append: doc.author %}
    {% endif %}
    {% if permalink.size > 0 and show-permalink %}
      {% if by-line.size > 0 %}
        {% assign by-line = by-line | append: " &#124; " | append: permalink %}
      {% else %}
        {% assign by-line = by-line | append: permalink %}
      {% endif %}
    {% endif %}
    {% if show-edit-link %}
      {% if by-line.size > 0 %}
        {% assign by-line = by-line | append: " &#124; " | append: '<a href="' | append: site.github.repository_url | append: "/edit/master/" | append: doc.path | append: '" target="_blank">Edit on GitHub</a>' %}
      {% else %}
        {% assign by-line = by-line | append: '<a href="' | append: site.github.repository_url | append: "/edit/master/" | append: doc.path | append: '" target="_blank">Edit on GitHub</a>' %}
      {% endif %}
    {% endif %}
{{ by-line }}
    {% if doc.description and show-description %}
_{{ doc.description }}_
    {% endif %}
    {% if show-content %}
{{ doc.content }}
    {% endif %}
  {% endif %}
{% endfor %}

{% if number-of-docs == 0 %}
  _Whoops! Nothing to show here for now!_
{% endif %}
