<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} | {{ site.title}}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">

    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:url" content="{{ page.url | replace: "index.html","" | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:type" content="article" />
    {% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}
    <meta property="og:image" content="https://avatars3.githubusercontent.com/u/1697359?s=460&v=4" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="{{ site.title }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.permalink }}" />
    <meta name="twitter:image" content="https://avatars3.githubusercontent.com/u/1697359?s=460&v=4" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="/about" style="color: #fff;">{{ site.title | default: site.github.repository_name }}</a></h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <a href="https://www.linkedin.com/in/arthurzey" class="btn" target="_blank">LinkedIn</a>
      <a href="https://www.facebook.com/arthurzey" class="btn" target="_blank">Facebook</a>
      <a href="https://twitter.com/logicalarthur" class="btn" target="_blank">Twitter: @LogicalArthur</a>
      <a href="https://hdsp.co/buddy/request/9cQ8Bxz/LGm1m9" class="btn" target="_blank">Headspace</a>
      <a href="https://cash.app/$ArthurZey" class="btn" target="_blank">Square Cash: $ArthurZey</a>
      <br />
      <a href="https://trakt.tv/users/arthurzey/history" class="btn" target="_blank">TV & Movies (trakt)</a>
      <a href="https://www.last.fm/user/ArthurZey/library" class="btn" target="_blank">Music (last.fm)</a>
      <a href="http://www.myfitnesspal.com/food/diary/ArthurZey" class="btn" target="_blank">Food (MyFitnessPal)</a>
      <a href="https://foursquare.com/logicalarthur/history" class="btn" target="_blank">Location (Swarm)</a>
      {% if site.github.is_project_page %}
        <br /><a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </section>

    <section class="main-content">
      {{ content | markdownify }}

      <footer class="site-footer">
        {% comment %}
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        {% endcomment %}
          <span class="site-footer-owner"><a href="http://www.arthurzey.com">www.arthurzey.com</a> is maintained by <a href="/about">Arthur Zey</a>.</span>
        <span class="site-footer-credits">
            This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.<br />
            <a href="{{site.github.repository_url}}/edit/master/{{page.path}}" target="_blank">Edit this page (submit a pull request).</a>
        </span>

      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    {% endif %}
  </body>
</html>
